*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/trace_1771815909255.log
.DS_Store
/build
/app/build
**/build
/koog-0.6.2
/AetherLink-main
/langchain4j-main
/captures
.externalNativeBuild
.cxx
local.properties
